.itvoice_asn_creator-index-index {
  &.page-layout-admin-2columns-left {
    .page-columns {
      margin-left: 0;

      .main-col {
        width: 100%;
      }
    }
  }
}

#react-category-root {
  .sticky-card {
    position: sticky !important;
    top: 55px;
  }

  .footer {
    padding: 10px;
    border-radius: 10px;
    background: #e9ecef;
  }

  .top-panel {
    margin-bottom: 10px;

    .card {
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;

      h4 {
        text-align: left;
        margin-bottom: 8px;
      }
    }

    .filters {
      background: #e9ecef;

      .form-group {
        width: 24%;
        margin-right: 1%;
      }
    }

    .footer {
      margin-left: 10px;
      flex-grow: 3;
    }

    .totals {
      flex-grow: 1;
      background: #e9ecef;
      text-align: center;

      .label {
        margin-right: 5px;
        max-width: 100px;
        display: inline;
        text-align: right;
      }
    }
  }

  .carton-no {
    float: right;
  }

  .new-carton2 {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    z-index: 200;
    background: #fff;

    button {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  }


  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  #react-category-root > .container {
    background: #f5f1e9;
    padding: 15px;
    width: calc(~"100% - 30px");
    border-radius: 10px;
    border: 1px dashed #de9d20
  }

  .row {
    display: flex;
  }

  .col {
    flex: 1 0;
  }

  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-7 {
    margin-left: 20px;
    width: 60%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .flex-column {
    flex-direction: column !important;
  }

  .d-flex {
    display: flex !important;
  }

  .justify-content-between {
    justify-content: space-between !important;
  }

  .card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }

  .py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .p-3 {
    padding: 1rem !important;
  }

  .m-0 {
    margin: 0 !important;
  }

  .mb-1 {
    margin-bottom: 0.25rem !important;
  }

  .mb-2 {
    margin-bottom: 0.5rem !important;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }


  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }

  .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-text {
    display: flex;
    align-items: center;
    padding: 4.3px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group > .form-control, .input-group > .form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #react-category-root button.primary {
    width: calc(~"100% - 28px");
    height: 30px;
  }

  .cartonHead {
    font-size: 12px;
    text-align: right;
    background: #d0bf9f;
    line-height: 2;
    padding: 0px 10px;
    border-radius: 7px;
    border-bottom: 1px solid #b9a57e;

    span {
      white-space: nowrap;
    }
  }

  .cartonHead .label {
    float: left;
    font-size: 12px !important;
    color: #94763f !important;
    line-height: 1.8;
  }

  .card .input-group-text {
    padding: 6px 6px;
    font-size: 13px;
  }

  .dustbin-toggler {
    vertical-align: middle;
    line-height: 1.4;
    margin-left: 6px;
    cursor: pointer;
  }

  .size-input {
    width: 9%;
    float: left;
    padding: 3px 4px 7px;
  }

  .size-input > div {
    text-align: center;
  }

  .size-input input[type="number"] {
    width: 100%;
  }

  .document-status {
    margin: 0;
    text-align: right;
    font-size: 10px;
    padding: 10px;
    border: 1px solid #b7b7b7;
    background: #ececec;
    border-radius: 4px;

    svg {
      margin-left: 4px;
      vertical-align: middle;
    }
  }
}