<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ITvoice\Asn\Block\Adminhtml\Asn">
        <plugin name="ITvoice_AsnCreator::AddCreateAsnButtonPlugin" type="ITvoice\AsnCreator\Plugin\AddCreateAsnButtonPlugin" sortOrder="20" />
    </type>
    <type name="ITvoice\Asn\Block\Adminhtml\Asn\View">
        <plugin name="ITvoice_AsnCreator::AddEditAsnButtonPlugin" type="ITvoice\AsnCreator\Plugin\AddEditAsnButtonPlugin" sortOrder="20" />
    </type>
</config>
